# Created by .ignore support plugin (hsz.mobi)
.idea/
*.txt
logs/
target/
.DS_Store
*.iml
*.log
*.html
src/test/logs
src/test/reports
test-output/
src/test/profiles/test/swimlane.properties
src/test/java/com/meituan/qa/meishi/Hui/cases/TestCase