<?xml version="1.0" encoding="UTF-8"?>
<!--
    Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出。
    monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数。
-->
<configuration status="info" monitorInterval="30" sdkRedirect="false">
    <!-- 定义日志配置的属性 -->
    <properties>
        <property name="LOG_HOME">src/test/logs</property>
        <property name="SERVER_NAME">tmc-log4j2-example</property>
    </properties>
    <!-- 控制台输出日志 -->
    <appenders>
        <!--Appender 1. 输出到Console，指定输出格式和过滤器等级为trace-->
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss}] [%t] [%p] - %l - %m%n"/>
        </Console>
        <!--Appender 2. 输出到滚动保存的文件,每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFileInfo" fileName="${LOG_HOME}/hbqa-client-api-info.log"
                     filePattern="${LOG_HOME}/log/hbqa-client-api-info.log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss:SSS}] [%t] [%p] - %l - %m%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <!-- 设置文件大小最大为20Mb -->
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了100 -->
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        <RollingFile name="RollingFileDebug" fileName="${LOG_HOME}/hbqa-client-api-debug.log"
                     filePattern="${LOG_HOME}/log/hbqa-client-api-debug.log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss:SSS}] [%t] [%p] - %l - %m%n"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <!-- 设置文件大小最大为20Mb -->
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了100 -->
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="${LOG_HOME}/hbqa-client-api-error.log"
                     filePattern="${LOG_HOME}/log/hbqa-client-api-error.log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss:SSS}] [%t]  [%p] - %l - %m%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <!-- 设置文件大小最大为20Mb -->
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了100 -->
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
        <MarioTestNGLog name ="MarioTestNGLog">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy.MM.dd HH:mm:ss}] [%t] [%p] - %l - %m%n"/>
        </MarioTestNGLog>
    </appenders>
    <loggers>
        <logger name="com.dianping.lion"
                level="ERROR" additivity="false">
        </logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileInfo"/>
            <AppenderRef ref="RollingFileDebug"/>
            <AppenderRef ref="RollingFileError"/>
            <AppenderRef ref="MarioTestNGLog"/>
        </Root>
    </loggers>
</configuration>
